.container {
    position: fixed;
    width: 100vw;
    z-index: 100;
    height: 80px;
    top: 0;
    background-color: var(--background-primary-color);
  
    p, span, button, li, ul {
      color: var(--font-primary-color);
    }
  
    .ecommerceContainer {
      background-color: var(--background-secondary-color);
  
      .ecommerce {
        width: 80%;
        margin: 36px auto;
  
        h2 {
          font-size: 1rem;
          line-height: 25px;
          font-weight: bold;
        }
  
        p {
          font-size: 1rem;
          line-height: 1rem;
          margin: 1rem 0;
        }
  
        button {
          width: 240px;
          height: 40px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 200px;
          border: none;
          background-color: var(--background-primary-color);
          color: var(--font-primary-color);
        }
      }
  
      * {
        color: var(--font-secondary-color);
      }
  
      &.close {
        display: none;
      }
    }
  
    .ondeTah {
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 2.5rem;
  
      &.close {
        display: none;
      }
  
      .label {
        display: block;
        font-weight: bold;
      }
  
      .ondeTahButton {
        text-decoration: none;
        display: flex;
        margin-top: 1rem;
        width: 240px;
        height: 40px;
        background-color: var(--background-secondary-color);
        color: var(--font-secondary-color);
        border: none;
        padding: 11px 26px;
        border-radius: 200px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  
    .navBar {
      display: flex;
      flex-direction: column;
      background-color: var(--background-primary-color);
  
      section:nth-child(1) {
        display: flex;
        justify-content: center;
        padding: 1.25rem 0;
  
        .navControl {
          display: flex;
          justify-content: space-between;
          width: 80%;
          gap: 1rem;
  
          .toggle {
            border: none;
            background-color: inherit;
          }
        }
      }
  
      section:nth-child(2) {
        display: flex;
        justify-content: center;
  
        .collapse {
          flex-direction: column;
          width: 80%;
          align-self: flex-start;
  
          &.close {
            display: none;
          }
  
          &.open {
            display: flex;
          }
  
          ul {
            margin: 2rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
  
            li {
              display: block;
            }
  
            button, a {
              &[aria-expanded="true"] {
                font-weight: bold;
              }
  
              text-decoration: none;
              color: var(--font-primary-color);
              background-color: inherit;
              border: none;
              line-height: 1.5rem;
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  
    .more {
      .subcollapse {
        width: 100%;
        position: relative;
        &.close {
          display: none;
        }
  
        &.open {
          display: flex;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.3125rem;
          height: 1.3125rem;
          background-color: var(--background-secondary-color);
          box-shadow: 0px 3px 6px #FFFFFF29;
          border-radius: 39px;
          border: none;
          color: var(--font-secondary-color);
          position: absolute;
          top: calc(50% - 15px);
          right: -15px;
        }
        .verticals {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          position: relative;
          width: 90%;
          background-color: var(--background-primary-color);
          gap: 1.2rem;
          align-items: center;
          margin: 2.25rem 0;
          scroll-behavior: smooth;
  
          .vertical {
            max-width: 9rem;
            min-width: 180px;
            padding-bottom: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
            h2 {
              color: var(--font-primary-color);
              font-weight: bold;
              font-size: 1rem;
              line-height: 1.5rem;
  
              .colorOrange {
                color: var(--color-primary-orange);
              }
  
              .colorYellow {
                color: var(--color-primary-yellow);
              }
  
              .colorRed {
                color: var(--color-primary-red);
              }
  
              .colorBlue {
                color: var(--color-primary-blue);
              }
  
              .colorGreen {
                color: var(--color-primary-green);
              }
  
              .colorPurple {
                color: var(--color-primary-purple);
              }
            }
  
            p {
              font-size: 0.875rem;
              line-height: 1.3125rem;
            }
  
            a {
              color: var(--font-primary-color);
              font-weight: bold;
              font-size: 0.875rem;
              text-decoration: none;
            }
          }
  
        }
      }
    }
  }
  
  @media screen and (min-width: 1025px) {
    .container {
      .ecommerceContainer {
        display: none;
      }
  
      .ondeTah {
        width: initial;
  
        &.close {
          display: block;
        }
  
        .label {
          display: none;
        }
      }
  
      .navBar {
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin: 0 auto;
  
        .navControl {
          width: 100%;
  
          .navBrand {
            display: inline-block;
  
            img {
              width: 43px;
              height: 23px;
            }
          }
        }
  
        section:nth-child(1) {
          .navControl {
            .toggle {
              display: none;
            }
          }
        }
  
        section:nth-child(2) {
          flex-grow: 1;
  
          .collapse {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
  
            &.close {
              display: flex;
            }
  
            ul {
              flex-direction: row;
  
              li {
                display: flex;
                align-items: center;
  
                &:before {
                  content: "";
                  display: inline-block;
                  width: 0.5rem;
                  height: 0.5rem;
                  background-color: var(--font-primary-color);
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  